.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}
.list{
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    margin-bottom: 8px;
}

textarea{
    height: 160px;
    width: 300px;
}