<div class="container">
<div class="list">
    <button mat-stroked-button>FalleN</button>
    <button mat-stroked-button>ELIGE</button>
    <button mat-stroked-button>NAF</button>
    <button mat-stroked-button>Stewie2k</button>
    <button mat-stroked-button>Grim</button>
</div>
<div>
    <form>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Crosshair</mat-label>
        <textarea cdkTextareaAutosize=false matInput [value]="fallen" disabled=true></textarea>
      </mat-form-field>
    </form>

</div>
</div>


